<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Stats Compiler</title>
</head>
<body>
    <h1>Create New Group</h1>
    <form method="post" action="{{ url_for('datagatheringpage') }}">
        <label for="term_length">Choose term length:</label>
        <select name="term_length" id="term_length">
            <option value="short_term">Short Term</option>
            <option value="medium_term">Medium Term</option>
            <option value="long_term">Long Term</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>