/* algorithiminformation.css */

body {
    background-color: #f0f0f0; /* Gray background color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.alginfo-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.algoinfo-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.algoinfo-desc {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.algoinfo-desc ul {
    list-style-type: none;
    padding: 0;
}

.algoinfo-desc li {
    margin-bottom: 10px;
}

.algoinfo-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.algoinfo-button:hover {
    background-color: #45a049;
}
