body {
    text-align: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
}

.title {
    font-size: 24px;
}

.all-buttons {
    display: flex;
    flex-direction: column;
}

.home-button, .signout-button {
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.signout-button {
    background-color: #e74c3c;
}

.tabbutton {
    background-color: #4CAF50; /* Green color for tabs */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-bottom: -1px; /* Overlap with the next button */
    margin-right: 0;
}

.tabbutton-container {
    margin-bottom: 20px;
}

.tabbutton:hover {
    background-color: #45a049;
}

.tabbutton.active {
    border-bottom: 1px solid white; /* White border for the selected tab */
}

.tab_2 {
    display: none;
}

.info-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.element {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

img {
    max-width: 100px;
    max-height: 100px;
}

.datadisplay-info {
    margin-bottom: 20px;
}